.no-bullets{
    list-style-type: none;
}

#citySearchButton{
    border-color: lightseagreen;
    background-color: lightseagreen;
    width: auto;
}

#citySearchButton:hover{
    color: black;
    border-color: lightseagreen;
    background-color: lightseagreen;
}

li{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    color: white;
}

#cinemaContainer{
    padding-left: 3%;
}

#cinemaList{
    width: 350px; 
    margin: 1.5% 2.5%;
}

#cinemaName{
    white-space: normal;
}