
<div *ngIf="!showCityResult">
  <select [(ngModel)]="selectOption">
    <option *ngFor="let stateCode of stateCodes">
      {{stateCode.name}}
    </option>
  </select>
  <div *ngIf="!searchCity">
    <button (click)="clickButton()">Next</button>
  </div>
  
  
  <div *ngIf="searchCity">
      <input type="text" [(ngModel)]="cityInput">
      <button (click)="showCityState()">Search Cities</button>
  </div>  
</div>

<div *ngIf="geolocationObj">
    <p>Show Geo Location</p>
    
    <select [(ngModel)]="selectgeoLoaction">
        <option *ngFor="let geolocation of geolocationObj.data">
          {{geolocation.name }}, {{stateSelected}}
        </option>
      </select>
        <button (click)="assignLocationValues()">Search Cinemas</button>
         <!-- <h2>{{ geolocationObj.data[0].name }}</h2>
         <h2>{{ geolocationObj.data[0].latitude }}</h2>
         <h2>{{ geolocationObj.data[0].longitude }}</h2> -->
   
</div>

  
