
<div class="container-fluid" *ngIf="showCitySearch">
 
  <h3 id="geo-location-label">Select Your Locaction</h3>
 
 <div class="d-flex justify-content-center" *ngIf="searchState">
    <form [formGroup]="geoLocationForm" id="formGroup"
           (ngSubmit)="nextButton(geoLocationForm.value.selectState)" required>
      <div class="row">
        <select style="width: 150px;" class="form-select" formControlName="selectState" (change)="changeStateSelection()">
          <option value="">Select State</option>
          <option *ngFor="let stateCode of stateCodes">
            {{stateCode.name}}
          </option>
        </select>
       
        <button id="citySearchButton" type="submit" class="btn btn-danger">Next</button>
      </div>

      <div id="validationDiv" class="row" *ngIf="!isValid" >
        <div id="stateSelectValidation" class="alert alert-danger">
          <strong>State selection is required.</strong>
        </div>
      </div>

    </form>
  </div>
    
  <div class="d-flex justify-content-center" *ngIf="searchCity">
    <form [formGroup]="geoLocationForm" id="formGroup"
          (ngSubmit)="showCityState(geoLocationForm.value.inputCity)" required>
          <div class="row">
            <input  formControlName="inputCity" class="form-control" style="width: 250px;"
                    placeholder="Enter City Name" type="text" (keydown)="inputChanged()">
            
            <button id="citySearchButton" class="btn btn-danger" type="submit">Search Cities</button>
          </div>

      <div id="validationDiv" class="row"  *ngIf="!isValidInput" >
        <div id="citySearchValidation" class="alert alert-danger">
          <strong>City input cannot be empty.</strong>
        </div>
      </div>
    </form>
  </div>  

  <div class="d-flex justify-content-center" *ngIf="geolocationObj">
    <div class="row" *ngIf="geolocationObj.data.length == 0">
        <div id="noCitiesFound" class="alert alert-info">
          <strong>
            No cities found.
            <button id="tryAgain"  class="btn btn-link" type="button" (click)="searchAgain()">
              <strong>Try another search.</strong> 
            </button>
          </strong>
        </div>
    </div>
  </div>

  <div class="d-flex justify-content-center" *ngIf="geolocationObj">
    <div *ngIf="geolocationObj.data.length != 0">
      <form [formGroup]="geoLocationForm" id="formGroup" (change)="changeCityStateSelection()"
             (ngSubmit)="assignLocationValues(geoLocationForm.value.selectCity)" required>

            <div class="row">
              <select style="width: 200px;" class="form-select" formControlName="selectCity">
              <option selected disabled value="">Select City</option>
                <option *ngFor="let geolocation of geolocationObj.data">
                  {{geolocation.name }}, {{stateSelected}}
                </option>
              </select>
                
              <button id="citySearchButton" class="btn btn-danger">Search Cinemas</button>
            </div>

            <div id="validationDiv" class="row" *ngIf="!isValidCityState" >
              <div id="citySelectValidation" class="alert alert-danger">
                <strong>City selection is required.</strong>
              </div>
            </div>
            
      </form>
    </div>
  </div>
</div>

<div *ngIf="showCinemasNearby">
    <app-cinemas-nearby [geoLocationData]="geoData"></app-cinemas-nearby>
</div>

  
