 <div class="showtime-imax-grid">
    
       <div class="showtime-grid" *ngIf="standardTimes">
            <h4>Standard Times:</h4>
            <div>
                <ul id="badgeContainer" class="no-bullets container" *ngFor="let standard of standardTimes">
                    <li><span id="showtimeBadge" class="badge">{{ standard.start_time }}</span></li>
                </ul>                 
            </div>
       
        </div>
    
        <div class="showtime-grid" *ngIf="imaxTimes">
            <h4>IMAX Times:</h4>
            <ul id="badgeContainer" class="no-bullets container" *ngFor="let imax of imaxTimes">
                <li><span id="showtimeBadge" class="badge">{{ imax.start_time }}</span></li>
            </ul>        
        </div>
 
   </div>